@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiAccordionSummary-content {
    justify-content: space-between;
    align-items: center;
}

.MuiAccordionSummary-content.Mui-expanded {
    margin: 12px 0;
}
